h1 {
  color: pink;
font-family: 'Tangerine', cursive;
  text-align: left;
  font-size: 100px;
  padding-left: 20px;
  position: relative;
  max-width: 305px;

}
h2 {
  color: pink;
  font-family: 'Tangerine', cursive;
  text-align: left;
  font-size: 120px;
  padding-left: 20px;
  position: relative;
  bottom: 67px;

  
}
#searchbar {
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 40px;
  margin-left: 20px;
  margin-bottom: 40px;
}
ul li {
  font-family: "Roboto Condensed", sans-serif;
  list-style-type: none;
  display: block;
  text-align: center;
  position: relative;
  left: 495px;
  bottom: 350px;
  width: 100%;
  margin: 20px;
  color:rgb(119, 119, 119);;
}
.body-border {
  position: relative;
  border-style: none;
  border-radius: 5px;
  box-shadow: 6px 6px 4px #ede9eb;
  margin: 40px;
  max-width: 700px;
  max-height: 500px;
  background-image: url(image/weatherapp4.jpg);
  
}




h3{
  text-align: left;
  padding-left: 20px;
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(119, 119, 119);
  }
.btn-primary {
  background-color: pink;
  max-width: 100px;
  padding: 8px;
  border-style: none;
  padding-top: 2px;
  padding-bottom: 2px;
}
.btn-primary:hover {
  background-color: rgb(223, 196, 201);
}
.units {
  font-size: 20px;
  position: relative;
  bottom: 20px;
}

#cel {
  text-decoration: none;
  color: rgb(247, 241, 241);
  margin:5px;
}
#far {
  text-decoration: none;
  color: rgb(247, 241, 241);
}


#description{
   color: rgb(119, 119, 119);
   position:relative;
   margin-left:20px;
   text-transform:capitalize;
   font-style:italic;
}

.weather-forecast {
  margin-top: -70px;
  text-align: center;
  color:rgb(119, 119, 119);

}

.weather-forecast-temperature-min{
opacity:0.7;
color:#fff;
font-size:14px;
}

.weather-forecast-temperature-max{
  color:rgb(255, 248, 248);
font-size:14px;
}

img{
  margin:10px 10px 0px 10px;
}
